@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,700&display=swap');

$bg: rgb(18, 18, 58);
$txt: rgb(74, 234, 255);
$tert: #6890e7;
$quat: rgb(83, 96, 191);
$quin: rgb(175, 173, 173);
$grey: #342b52;
$black: rgb(79, 79, 79);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Set the flex direction to column */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg;
  color: $txt;
  text-align: center; /* Center-align text content */
}

h1, p, #generateTablesButton {
  margin: 15px; /* Add some spacing between elements */
}

h1 {
    margin-top: 5%;
    font-size: 48px;
    text-shadow: 0 0 3px white;
}

button {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px whitesmoke;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 25px white;
    }
}

.study-table {
  border-collapse: collapse;
  //opacity: 0.5;
  width: 100%;
  margin-top: 30px;
  box-shadow: 0 0 5px whitesmoke;
  transition: .5s ease-in-out;
  transform: transform .5s;
  margin-bottom: 10px;

  &:hover {
    opacity: 1;
    box-shadow: 0 0 5px whitesmoke, 0 0 10px $tert, 0 0 15px $tert;
    transform: scale(1.3);
  }

  th, td {
    border: 1px solid $grey;
    padding: 8px;
    text-align: center;
    //border-radius: 8px;
  }

  th {
    background-color: $tert;
    color: $bg;
  }

  td {
    background-color: $quat;
    color: $bg;
    transition: .5 ease-in-out;

    &:hover {
        background-color: $txt;
    }
  }

  .hours-col {
    background-color: $tert;
  }

  .break-cell {
    background-color: $black;
    color: white;
    width: 150px;

    &:hover {
        background-color: black;
    }
  }
}
